}

#content {
	position: relative;
	animation-name: content;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

@keyframes content {
	0% {left: -1500px;}
	100% {left: 0;}
}

.xyz {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 1rem 2rem;
	border: 0.5px solid white;
	margin-top: 40px;
	opacity: 0;

	animation-name: xy;
	animation-duration: 2s;
	animation-delay: 3s;
	animation-fill-mode: forwards;

	transition-property: transform;
	transition-duration: 1.2s;
}

.xyz:hover {
	transform: rotateZ(360deg);
}

@keyframes xy {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
